html{
    background: url(images/b1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
body{
    overflow: hidden;
}
#starBar{
    display: inline-block;
    margin-left:6%;
    margin-top:2%;
    background-color: saddlebrown;
    width: 50px;
    position: relative;
    height: 340px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#star12,#star22,#star32,#star42,#star52,#star62{
    visibility: hidden;
}
#content{
    background: url(images/backk.png) no-repeat;
}
#content1{
    background: url(images/1.png) no-repeat;
}
#content2{
    background: url(images/index2.png) no-repeat;
    background-color: white ;

}
#content3{
    background: url(images/22.jpg) no-repeat;
    background-color: white ;

}

#content4{
    background: url(images/22.jpg) no-repeat;
    background-color: white ;


}
#content,#content1,#content2,#content3,#content4{
    border: 15px solid saddlebrown;
    border-style: ridge;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:80%;
    height:90%;
    position: absolute;
    top:5%;
    left:10%;
}
.divNumber{
    width:10%;
    height:25%;
    position:absolute;
    padding-top:1%;
    padding-left:2.5%;
    color:white;
    font-size:25px;

}
#start {
    position:absolute;
    width:270px;
    height:230px;
    right: 1%;
    bottom: 22%;
}
#farmer {
    position:absolute;
    width:250px;
    height:250px;
    bottom: 17%;
    left:10%;
    display: inline-block;
    pointer-events: inherit;
    cursor: -webkit-grab;
    cursor: grab;
}
#farmer2 {
    visibility: hidden;
    position:absolute;
    width:150px;
    height:150px;
    bottom: 15%;
    right:20%;
    display: inline-block;
    pointer-events: inherit;
    cursor: -webkit-grab;
    cursor: grab;
}

#ballon{
    position:absolute;
    float:right;
    margin-left:8%;
    width:84%;
    height:50%;
}
table,tr,td{
    vertical-align: top;
    cursor: -webkit-grab;
    cursor: grab;
}

img{
    position:absolute;
}


#logoHome{
    position:absolute;
    width:8%;
    height:14%;
    display: inline-block;
    pointer-events: inherit;
    cursor: -webkit-grab;
    cursor: grab;
}

#logoFarmer {
    right:0%;
    bottom:2%;
    width:16%;
    height:25%;
    cursor: -webkit-grab;
    cursor: grab;
}

#logoFarmer2 {
    right:0%;
    bottom:2%;
    width:16%;
    height:25%;
    visibility: hidden;
    cursor: -webkit-grab;
    cursor: grab;
}

#logoFarmer4 {
    left:0%;
    bottom:2%;
    width:16%;
    height:25%;
    cursor: -webkit-grab;
    cursor: grab;
}

#goButton{
    position:absolute;
    width:7%;
    height:10%;
    display: inline-block;
    visibility: hidden;
    padding-left: 93%;
}
#logoGo {
    width:5%;
    height:9%;
    bottom: 76%;
    left: 2%;
    cursor: -webkit-grab;
    cursor: grab;
    transform: scaleX(-1);
}
.elem{
    pointer-events: visible;
}

#cat-image {
    height: 6%;
    width: 3%;
    position: absolute;
    bottom: 35%;
    left:3%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#dog-image {
    height: 12%;
    width: 8%;
    position: absolute;
    bottom: 1%;
    right:13%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#horse-image {
    height: 12%;
    width: 9%;
    position: absolute;
    bottom: 30%;
    left:11%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#horse2-image {
    height: 18%;
    width: 14%;
    position: absolute;
    bottom: 26%;
    left:20%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#cow-image {
    height: 26%;
    width: 18%;
    position: absolute;
    bottom: 1%;
    left: 4%;

    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}


#cow-image2 {
    height: 26%;
    width: 18%;
    position: absolute;
    bottom: 1%;
    left: 4%;
    visibility:hidden;
    cursor: -webkit-grab;
    cursor: grab;
}

#chicken-image {
    height: 14%;
    width: 6%;
    position: absolute;
    bottom: 54%;
    right: 6%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#chicken1-image {
    height: 14%;
    width: 7%;
    position: absolute;
    bottom: 54%;
    right: 22%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#chicken1-image2 {
    height: 25%;
    width: 16%;
    position: absolute;
    bottom: 1%;
    left: 4%;
    visibility: hidden;
    transform: scaleX(-1);
    cursor: -webkit-grab;
    cursor: grab;
}

#turkey-image {
    height: 14%;
    width: 7%;
    position: absolute;
    bottom: 13%;
    left: 46%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#duck-image {
    height: 12%;
    width: 6%;
    position: absolute;
    bottom: 3%;
    left: 44%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#goat-image {
    height: 27%;
    width: 18%;
    position: absolute;
    bottom: 6%;
    right: 27%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#goat2-image {
    height: 18%;
    width: 12%;
    position: absolute;
    bottom:3%;
    left: 24%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#pig-image {
    height: 12%;
    width: 13%;
    position: absolute;
    bottom: 11%;
    right: 14%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#pig-image2 {
    height: 22%;
    width: 20%;
    position: absolute;
    bottom: 1%;
    left: 2%;
    visibility: hidden;
    transform: scaleX(-1);
    cursor: -webkit-grab;
    cursor: grab;
}

#sheep-image {
    height: 14%;
    width: 10%;
    position: absolute;
    bottom: 13%;
    left: 35%;
    visibility: visible;
    cursor: -webkit-grab;
    cursor: grab;
}

#sheep-image2 {
    height: 37%;
    width: 24%;
    position: absolute;
    bottom: 1%;
    left: 1%;
    visibility: hidden;
    transform: scaleX(-1);
    cursor: -webkit-grab;
    cursor: grab;
}

#produse{
    position:absolute;
    width:50%;
    height:15%;
    display:inline-block;
    bottom:1%;
    left:25%;
}

#milk, #cheese, #corn{
    left:60%;
    cursor: -webkit-grab;
    cursor: grab;

}

#grass, #feather, #wheat {
    left:40%;
    cursor: -webkit-grab;
    cursor: grab;
}

#meatchicken, #meat {
    left: 20%;
    cursor: -webkit-grab;
    cursor: grab;
}
#hay, #wool, #leaves, #egs {
    cursor: -webkit-grab;
    cursor: grab;
}

#elemente {
    position:absolute;
    width:80%;
    height:15%;
    left:10%;
}

.ell1 {
    width:15%;
    height:80%;
}

.ell2 {
    left: 15%;
    width: 15%;
    height:80%;
}
.ell3 {
    left:30%;
    width: 15%;
    height:80%;

}
.ell4 {
    left: 45%;
    width: 15%;
    height:80%;
}


.ell11 {
    width:15%;
    height:80%;
}

.ell22 {
    left: 15%;
    width: 15%;
    height:80%;
}
.ell33 {
    left:30%;
    width: 15%;
    height:80%;

}
.ell44 {
    left: 45%;
    width: 15%;
    height:80%;
}


#capraSingura{
    left:23%;
    bottom:9%;
    width:15%;
    height:19%;
    cursor: -webkit-grab;
    cursor: grab;
}

#porcSingur {
    bottom:38%;
    right:41%;
    width:5%;
    height:9%;
    cursor: -webkit-grab;
    cursor: grab;
}

#oitaSingura {
    bottom:35%;
    right:1%;
    width:7%;
    height:18%;
    cursor: -webkit-grab;
    cursor: grab;
}

#gainaSingura {
    bottom:3%;
    right:22%;
    width:9%;
    height:13%;
    cursor: -webkit-grab;
    cursor: grab;
}

#calSingur {
    left:29%;
    bottom:42%;
    width:9%;
    height:11%;
    rotation: 3%;
    -ms-transform: skewY(-18deg); /* IE 9 */
    -webkit-transform: skewY(-18deg); /* Safari 3-8 */
    transform: skewY(-18deg);
    cursor: -webkit-grab;
    cursor: grab;
}

#vacaSingura {
    left:49%;
    bottom:47%;
    width:6%;
    height:9%;
    cursor: -webkit-grab;
    cursor: grab;
}

#rataSingura {
    right:26%;
    bottom:23%;
    width:6%;
    height:10%;
    cursor: -webkit-grab;
    cursor: grab;
}

#grupCai {
    left:14%;
    bottom:50%;
    width:9%;
    height:11%;
    cursor: -webkit-grab;
    cursor: grab;
}

#grupCapre {
    right:8%;
    bottom:28%;
    width:12%;
    height:15%;
    cursor: -webkit-grab;
    cursor: grab;
}

#grupGaini {
    bottom:35%;
    right: 31%;
    width:8%;
    height:8%;
    cursor: -webkit-grab;
    cursor: grab;
}

#grupGaini2 {
    bottom:24%;
    left: 47%;
    width:8%;
    height:12%;
    cursor: -webkit-grab;
    cursor: grab;
}

#grupOite {
    bottom:26%;
    left: 25%;
    width:9%;
    height:16%;
    cursor: -webkit-grab;
    cursor: grab;
}

#grupPorci {
    bottom:38%;
    left: 42%;
    width:9%;
    height:12%;
    cursor: -webkit-grab;
    cursor: grab;
}

#grupRate {
    left:44%;
    bottom:3%;
    width:15%;
    height:19%;
    cursor: -webkit-grab;
    cursor: grab;
}

#grupVacute {
    left:2%;
    bottom:23%;
    width:20%;
    height:22%;
    cursor: -webkit-grab;
    cursor: grab;
}

#farmer:hover, #grupVacute:hover, #grupCai:hover,#grupRate:hover,#grupOite:hover,#grupGaini:hover,
#grupGaini2:hover, #grupCapre:hover, #grupPorci:hover,#vacaSingura:hover,#porcSingur:hover,#calSingur:hover,
#rataSingura:hover, #capraSingura:hover, #gainaSingura:hover,#oitaSingura:hover,#milk:hover, #grass:hover,
#hay:hover,#meat:hover,#egs:hover,#meatchicken:hover,#feather:hover,#corn:hover,#cheese:hover,#wool:hover,#wheat:hover,
#leaves:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    -webkit-filter: drop-shadow(7px 7px 7px #ffffff);
    filter: drop-shadow(7px 7px 7px #ffffff);
}


#farmer2:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    -webkit-filter: drop-shadow(7px 7px 7px #ffffff);
    filter: drop-shadow(7px 7px 7px #ffffff);
}

#logoFarmer:hover,#logoFarmer2:hover,#logoFarmer4:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    -webkit-filter: drop-shadow(7px 7px 7px #ffffff);
    filter: drop-shadow(7px 7px 7px #ffffff);
}
 #goat-image:hover,#goat2-image:hover,#pig-image:hover,#horse-image:hover,
 #horse2-image:hover,#cat-image:hover,#dog-image:hover,#sheep-image:hover,#chicken-image:hover,
 #chicken1-image:hover,#turkey-image:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    -webkit-filter: drop-shadow(7px 7px 7px #ffffff);
    filter: drop-shadow(7px 7px 7px #ffffff);
}

#cow-image:hover, #duck-image:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    -webkit-filter: drop-shadow(7px 7px 7px #ffffff);
    filter: drop-shadow(7px 7px 7px #ffffff);

}

 #finalVideo{
     width:90%;
     height:95%;
     margin-left:9%;
     margin-top:1%;
 }

